.admin-u-m-user {
  margin-top: 15vh;
}

.admin-u-m-user > h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.admin-u-m-user-table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
}

.admin-u-m-user-table th,
.admin-u-m-user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.admin-u-m-user-table th {
  background-color: #8A2BE2;
  color: white;
}

.admin-u-m-user-table .th-profile {
  width: 60px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

button {
  padding: 5px 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff1a1a;
}