.projects {
  margin-top: 15vh;
}

.projects > h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.create-project-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-project-button:hover {
  background-color: #45a049;
}

.projects-table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
}

.projects-table th,
.projects-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.projects-table th {
  background-color: #8A2BE2;
  color: white;
}

.priority-low {
  background-color: #00ff00;
}

.priority-medium {
  background-color: #ffcc00;
}

.priority-high {
  background-color: #ff0000;
}

.td-actions > button {
  width: 90%;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#view-details {
  background-color: #4CAF50;
}

#view-details:hover {
  background-color: #45a049;
}

#update-project {
  background-color: #4CAF50;
}

#update-project:hover {
  background-color: #45a049;
}

#delete-project {
  background-color: #ff4d4d;
}

#delete-project:hover {
  background-color: #ff1a1a;
}

.project-deadline-soon {
  color: #ff4d4d;
}