.members {
  margin-top: 15vh;
}

.members ul {
  list-style: none;
  padding: 0;
}

.members > h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.create-user-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-user-button:hover {
  background-color: #45a049;
}

.members-table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
}

.members-table th,
.members-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.members-table th {
  background-color: #8A2BE2;
  color: white;
}

.members-table li {
  margin-bottom: 7px;
}

.members-table .th-profile {
  width: 60px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.td-actions > button {
  width: 90%;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#update-user {
  background-color: #4CAF50;
}

#update-user:hover {
  background-color: #45a049;
}

#delete-user {
  background-color: #ff4d4d;
}

#delete-user:hover {
  background-color: #ff1a1a;
}