.about-background {
  background-image: url("../../../../api/public/victory_vault_about_background.png");
  background-size: cover;
  min-height: 100%;
}

.about h1 {
  text-align: center;
  color: #dddddd;
  margin-top: 15vh;
}

.about-text {
  padding: 20px;
}

.about-text p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 40px;
  color: #eeeeee;
  font-weight: 600;
}