.card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card.completed {
  background-color: #e5fbe5;
}

.card h3 {
  margin: 0 0 10px 0;
  color: #333;
}

.card p {
  margin: 5px 0;
  color: #666;
}

.card .less-than-a-week{
  color: #ff0000;
}

.card .card-priority-medium {
  color: #ffcc00;
}

.card .card-priority-high {
  color: #ff0000;
}